.navigation a p {
   font-size: 2.9em;
   display:inline;
   color: Black;
}

.navigation {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: linear-gradient(to bottom, rgba(95,158,160) 0%, rgb(253, 253, 253) 100%);
   text-transform: uppercase;
   padding: 1em;
}